@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

:root {
  --black: #002b36;
  --dark: #073642;
  --gray: #93a1a1;
  --white: #fdf6e3;
  --yellow: #b58900;
  --orange: #cb4b16;
  --red: #dc322f;
  --magenta: #d33682;
  --blue: #268bd2;
  --cyan: #2aa198;
  --green: #859900;
}

body {
  color: var(--gray);
  background: var(--black);
  font-family: 'JetBrains Mono', monospace;
}

#app {
  max-width: 1000px;
  margin: 20px auto;
}

.white {
  color: var(--white);
}

.yellow {
  color: var(--yellow);
}

.orange {
  color: var(--orange);
}

.magenta {
  color: var(--magenta);
}

.blue {
  color: var(--blue);
}

.cyan {
  color: var(--cyan);
}

.green {
  color: var(--green);
}

.bg-dark {
  background: var(--dark);
}

.rounded {
  border-radius: 10px;
}